# Ignorar dependências do Node.js
web/node_modules/
backend/node_modules/

# Ignorar arquivos de logs
*.log

# Ignorar arquivos de sistema
.DS_Store

# Ignorar arquivos de configuração local do Docker
docker-compose.override.yml
docker-compose.local.yml

# Ignorar o arquivo de variáveis de ambiente
.env

# Ignorar arquivos gerados pela construção do Docker
**/Dockerfile
**/docker-compose.yml
**/docker-compose.override.yml
**/docker-compose.local.yml
